@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', sans-serif;
}

code,
pre {
  font-family: 'JetBrains Mono', monospace;
}

#sidebar .site-subtitle {
  font-style: normal;
}
